# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files

.env.local.dev
.env.local.prod
.env.development.local
.env.test.local
.env.production.local


# vercel
.vercel

# shipitfile
shipitfile.js
shipitfile.dev.js
shipitfile.prod.js

# game build
public/static/game/Build/jankenpon.data  
public/static/game/Build/jankenpon.framework.js  
public/static/game/Build/jankenpon.loader.js  
public/static/game/Build/jankenpon.wasm 
public/static/game/Build-debug/jankenpon.data  
public/static/game/Build-debug/jankenpon.framework.js  
public/static/game/Build-debug/jankenpon.loader.js  
public/static/game/Build-debug/jankenpon.wasm 
