@import '../../theme',
        '../../helper';
.page-error-404 {
  .img {
    width: 100%;
    max-width: 360px;
  }
  h1 {
    @include font-face($font-nunito, $text-4xl, 700);
    color: $color-secondary-blue-75;
  }
  span {
    @include font-face($font-nunito, $text-md, 600);
    color: $color-secondary-blue-75;
  }
}