@import '../../theme',
        '../../helper';

.section__detail {
  .container {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      .block__left {
        .wrapperImage {
          width: 100%;
          & > div {
            &:first-child {
              width: 50%;
              margin-bottom: 6rem;
            }
          }
        }
      }
      .block__right {
        h1 {
          @include font-face($font-G8, 3.6rem, 700);
          color: $color-secondary-blue-75;
        }
        p {
          @include font-face($font-nunito, $text-md, 400);
          color: $color-secondary-blue-75;
        }
        .information {
          display: flex;
          gap: 2rem;
          @include font-face($font-G8, $text-sm, 600);
          color: $color-secondary-blue-75;
          margin-bottom: 2rem;
          .serie {
            border: 1px solid $color-secondary-blue-75;
            border-radius: 15px;
            padding: 1.5rem;
            span {
              font-weight: 800;
            }
          }
          .rarity {
            border: 1px solid $color-secondary-blue-75;
            border-radius: 15px;
            padding: 1.5rem;
            span {
              font-weight: 800;
            }
          }
        }
        .information__price {
          display: flex;
          gap: 2rem;
          align-items: center;
          .virtual__price {
            @include font-face($font-G8, $text-2xl, 700);
            color: $color-secondary-blue-50;
          }
          .price {
            @include font-face($font-nunito, $text-lg, 700);
            color: $color-secondary-blue-50;
          }
        }
      }
    }
  }
}
.toast__updating__price {
  position: absolute;
  top: 7%;
  left: 50%;
  z-index: 500;
  transform: translate(-50%, -50%);
  .container {
    background: linear-gradient(180deg, #FCCD50 0%, rgba(252, 205, 80, 0.8) 100%);
    padding: 1rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    .wrapper {
      // display: grid;
      // grid-template-columns: 1fr;
      // gap: 3rem;
      .image {
        max-width: 50px;
        min-height: 50px;
      }
      .description {
        width: 350px;
        span {
          @include font-face($font-nunito, $text-md, 400);
          color: $color-secondary-blue-75;
        }
      }
      .reload_text_button {
        @include font-face($font-G8, $text-md, 600);
        color: #ffffff;
      }
      .dismiss_text_button {
        @include font-face($font-G8, $text-md, 600);
        color: $color-secondary-blue-50;
      }
      .updating_button {
        padding: 0.25rem 2rem !important;
      }
    }
  }
};




@include mq($breakpoint-tablet) {
  .section__detail {
    .container {
      .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        .block__left {
          .wrapperImage {
            width: 100%;
            & > div {
              &:first-child {
                width: 50%;
                margin-bottom: 6rem;
              }
            }
          }
        }
        .block__right {
          h1 {
            @include font-face($font-G8, 3.6rem, 700);
            color: $color-secondary-blue-75;
          }
          p {
            @include font-face($font-nunito, $text-md, 400);
            color: $color-secondary-blue-75;
          }
          .information {
            display: flex;
            gap: 2rem;
            @include font-face($font-G8, $text-sm, 600);
            color: $color-secondary-blue-75;
            margin-bottom: 2rem;
            .serie {
              border: 1px solid $color-secondary-blue-75;
              border-radius: 15px;
              padding: 1.5rem;
              span {
                font-weight: 800;
              }
            }
            .rarity {
              border: 1px solid $color-secondary-blue-75;
              border-radius: 15px;
              padding: 1.5rem;
              span {
                font-weight: 800;
              }
            }
          }
          .information__price {
            display: flex;
            gap: 2rem;
            align-items: center;
            .virtual__price {
              @include font-face($font-G8, $text-2xl, 700);
              color: $color-secondary-blue-50;
            }
            .price {
              @include font-face($font-nunito, $text-lg, 700);
              color: $color-secondary-blue-50;
            }
          }
        }
      }
    }
  }
}
@include mq($breakpoint-mobile) {
  .toast__updating__price {
    .container {
      .wrapper {
        .description {
          width: 100%;
          span {
            @include font-face($font-nunito, $text-sm, 400);
            color: $color-secondary-blue-75;
          }
        }
        .reload_text_button {
          @include font-face($font-G8, $text-sm, 600);
          color: #ffffff;
        }
        .dismiss_text_button {
          @include font-face($font-G8, $text-sm, 600);
          color: $color-secondary-blue-50;
        }
      }
    }
  }
}